[submodule "software"]
	path = software
	url = git@github.com:eagletrt/chimera-bms.git
	branch = sw-master
[submodule "hardware"]
	path = hardware
	url = git@github.com:eagletrt/chimera-bms.git
	branch = hw-master
